header {
    padding: 0px 0px 20px;
    border-bottom: 1px solid $davy-gray;
    .tap-bar{
        padding: 10px 0px 10px;
        background-color: $raspberry;
        color: $white;
        p,a{
            font-size: 14px;
        }
       .flex-item{
            display: flex;
            justify-content: space-between;
            div{
                display: flex;
                column-gap: 15px;
            }
       }
       a{
            color: $white;
       } 
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px 0px;
        ul{
            display: flex;
            column-gap: 35px;
            align-items: center;
            li{
                a{
                   color: $para;
                   &:hover{
                        color: $raspberry;
                   }
                }
            }
        }
    }
}

//product//
.products{
    display: flex;
    column-gap: 25px;
}
.product-card{
    min-height: 383px;
    max-width: 297px;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    &:hover{
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
        .product-image{
          transform: scale(1.1); 
        }
    }
    .product-image{
        background-color: $thubmail-bg;
        transition: transform 0.5s ease;
        padding: 45px 0;
        text-align: center;
        overflow: hidden;
        
    }
    .product-info{
        padding: 30px 20px 28px;
        text-align: center;
        h3{
            @include Font(24px,31px,700);
            margin-bottom: 10px;
        }
        h6{
            margin-bottom: 15px;
        }
        .btn{
            padding: 8px 25px;
        }
    }
}